/* https://www.w3schools.com/howto/howto_css_breadcrumbs.asp */
/* Style the list */
ul.breadcrumb {
  border: 2px solid #4b2e83; /* Color Scheme (School Color) */
  position: relative;
  border-radius: 0px 0px 0px 0px;
  padding: 16px;
  list-style: none;
  background-color: #eee;
}

ul.breadcrumb li { display: inline; }

