/* Tables adapted from https://www.w3schools.com/html/html_tables.asp */
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #eee;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eee;
}

/* General Formatting */

.header { 
    text-align: center;
    font-variant: small-caps;
}

.top_bar { 
    text-align: center; padding: 16;
}
   
.katex { 
    font-size: 1em; 
}

.roundpurplebottom {
   
    border-radius: 0px 0px 0px 0px;
    border: 2px solid #4b2e83; /* Color Scheme (School Color) */
    padding: 16px;
}
   
.roundgreen {
    border-radius: 0px;
    border: 2px solid DarkSeaGreen; /* Runs */
    padding: 16px;
}
   
.button1 {
  font-family: 'Old Standard TT', serif;
  text-decoration: none;
  border: 1px solid black;
  background-color: #eee;
  border-radius: 8px;
  padding: 4px;
  color: #4b2e83; /* Color Scheme (School Color) */

}

.button1:hover {
    color: Black;
    background-color: Gainsboro;
    text-decoration: none;
}

.hiddendiv{
    display:none;
}

/* Chrome, Safari, Edge, Opera */
.hide-arrows input[type=number]::-webkit-outer-spin-button,
.hide-arrows input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.hide-arrows input[type=number] {
  -moz-appearance: textfield;
}
