/* https://www.w3schools.com/html/html_tables.asp */
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #eee;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eee;
}
