<!DOCTYPE html>
<html lang="en">


<html>


<head>
    <meta charset="UTF-8">
    <title>NLPStatTest</title>



    <link href="{{ url_for('static', filename='other.css')}}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='print.css')}}" rel="stylesheet" type="text/css"  media="print"/>





    <!-- CONSTANTS todo: remove this if not used -->
    <script src="{{ url_for('static', filename='constants.js') }}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- KATEX STARTER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">

       <!-- The loading of KaTeX is deferred to speed up page rendering -->
       <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>

       <!-- To automatically render math in text elements, include the auto-render extension: -->
       <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous"
           onload="renderMathInElement(document.body);"></script>

</head>


<body style="font-family: sans;" onload="localStorage.setItem('ppa', '0'); localStorage.setItem('da-warn', '0'); max_tab = '0'; localStorage.setItem('max_tab', max_tab); console.log(max_tab);">

  <div margin: 100 auto;>
        <div class="header">
            <h1>NlpStatTest</h1>
      </div>

      <div class="roundpurplebottom interface ds"
      style="background-color: #eee; padding: 5;   top: 0;">


     <a class="current button1" href="{{ url_for('home') }}">Home</a> |
            <a class="possible button1" href="{{ url_for('ppa') }}">Prospective Power Analysis</a> |
             <a class="possible button1" href="{{ url_for('start') }}">Data, Significance, and Retrospective Power Analysis</a>
</div>


<div class="roundpurplebottom">

<h3>About</h3>

<p>This website is a demonstration of <a class="possible" href="{{ url_for('paper') }}">"NLPStatTest: A Toolkit for Comparing NLP System Performance"</a>, by
<a class="possible" href = "mailto: haz060@uw.edu">Haotian Zhu</a>,
<a class="possible" href = "mailto: dpm3@uw.edu">Denise Mak</a>,
<a class="possible" href = "mailto: jesse@gioannini.net">Jesse Gioannini</a>, and
<a class="possible" href = "mailto: fxia@uw.edu">Fei Xia</a>. They can be contacted for help or feedback.</p>

<p>While statistical significance testing has been commonly used to compare NLP system performance,
a small \(p\)-value alone is not sufficient because statistical significance is different from practical significance. To measure practical significance, we
recommend estimating and reporting of effect size.
It is also necessary to conduct power analysis to ensure that the test corpus is large enough to achieve
a desirable power level. We propose a three-stage
procedure for comparing NLP system performance,
and provide a toolkit, NLPStatTest, to automate
the testing stage of the procedure. For future work,
we will extend this work to hypothesis testing with
multiple datasets or multiple metrics.</p>

<ul>

<li>Watch the AACL-IJCNLP <a class="possible" href="https://vimeo.com/443074846">demonstration</a>.</li>

<li>Find more info about the toolkit can be found in the <a class="possible" href="https://arxiv.org/pdf/2011.13231.pdf">paper</a> (which includes a list of references) and the <a class="possible" href="{{ url_for('manual') }}">manual</a>.</li>

<li>To determine the minimum size of the test corpus for sufficient power, use
<a class="possible"  href="{{ url_for('ppa') }}">prospective power analysis</a>.</li>
<li>To compare system performance, click <a class="possible" href="{{ url_for('start') }}"> here </a> to get started.</li>

<li>Download the latest release from the
 <a class="possible"  href="https://github.com/nlp-stat-test/nlp-stat-test/releases">releases</a> page, to run the GUI or CLI version locally.</li>


<li>Check out the latest source on the the
 <a class="possible"  href="https://github.com/nlp-stat-test/nlp-stat-test/">repository</a> page.</li>


</ul>

<h3>Data Policy</h3>


<p>The web version of NLPStatTest uses the data file you upload (two columns of numbers) to calculate your results. We also use cookies. You can delete the most recent file you uploaded and clear the cookies by clicking the delete data link at the end of the "Data, Significance, and Retrospective Power Analysis" tab (prospective power analysis does not store any data). Otherwise, we will clear the data from time to time. We do not use uploaded data for any other purpose than to calculate your results.</p>


<h3>  Paper <a class="possible" href="https://arxiv.org/pdf/2011.13231.pdf">(PDF)</a> and Citation (BibTeX)</h3>

<div><pre style="white-space: pre-wrap;">
  @inproceedings{zhu-etal-2020-nlpstattest,
      title = "{NLPS}tat{T}est: A Toolkit for Comparing {NLP} System Performance",
      author = "Zhu, Haotian  and
        Mak, Denise  and
        Gioannini, Jesse  and
        Xia, Fei",
      booktitle = "Proceedings of the 1st Conference of the Asia-Pacific Chapter of the Association for Computational Linguistics and the 10th International Joint Conference on Natural Language Processing: System Demonstrations",
      month = dec,
      year = "2020",
      address = "Suzhou, China",
      publisher = "Association for Computational Linguistics",
      url = "https://www.aclweb.org/anthology/2020.aacl-demo.7",
      pages = "40--46",
      abstract = "Statistical significance testing centered on p-values is commonly used to compare NLP system performance, but p-values alone are insufficient because statistical significance differs from practical significance. The latter can be measured by estimating effect size. In this pa-per, we propose a three-stage procedure for comparing NLP system performance and provide a toolkit, NLPStatTest, that automates the process. Users can upload NLP system evaluation scores and the toolkit will analyze these scores, run appropriate significance tests, estimate effect size, and conduct power analysis to estimate Type II error. The toolkit provides a convenient and systematic way to compare NLP system performance that goes beyond statistical significance testing.",
  }
   </pre></div>
</div>

    </div>
</body>

</html>
