<!DOCTYPE html>
<html lang="en">


<html>

<head>
    <meta charset="UTF-8">
    <title>NLPStatTest</title>

    <div class="header">
            <h1>NlpStatTest</h1>
    </div>
</head>


<body>

</div>

This website is a demonstration of our <a href="url">paper</a>. Please consult

the <a href="url">manual</a> for insturctions and tips.

You can find the source code on our <a href="url">GitHub repository</a>. If you

have not yet collect data, start with <a href="url2">prospective power analysis</a>, otherwise, you can <a href="url3">upload your data or restore a previous session</a>.
</div>


</body>

</html>
