<!DOCTYPE html>
<html lang="en">


<html>


<head>
    <meta charset="UTF-8">
    <title>NLPStatTest</title>


    <link href="{{ url_for('static', filename='tooltip.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='tables.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='other.css')}}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='print.css')}}" rel="stylesheet" type="text/css"  media="print"/>





    <!-- CONSTANTS todo: remove this if not used -->
    <script src="{{ url_for('static', filename='constants.js') }}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- KATEX STARTER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">

       <!-- The loading of KaTeX is deferred to speed up page rendering -->
       <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>

       <!-- To automatically render math in text elements, include the auto-render extension: -->
       <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous"
           onload="renderMathInElement(document.body);"></script>

</head>

<body>

  <div margin: 100 auto;>
        <div class="header">
            <h1>NlpStatTest</h1>
      </div>

        <div class="roundpurplebottom interface"
        style="background-color: #eee; padding: 16;   top: 0;
               position: -webkit-sticky;
               position: sticky;    z-index: 2; line-height: 2;">

                <span><button class="button1" id='BtnTab0'>Home</button></span>  | 
                <span><button class="button1" id='BtnTab0' onclick="window.location.href='{{ url_for('ppa') }}'" >Prospective Power Analysis</button></span>  | 
                <span><button class="button1" id='BtnTab0' onclick="window.location.href='{{ url_for('upload_data') }}'" >Data, Significance, and Retrospective Power Analysis</button></span>


        </div>

<div class="roundpurplebottom" style="position:relative;">
This website is a demonstration of our <a href="url">paper</a>. Please consult

the <a href="url">manual</a> for insturctions and tips.

You can find the source code on our <a href="url">GitHub repository</a>. If you

have not yet collect data, start with
<a href="{{ url_for('prospective_power') }}">prospective power analysis</a>, otherwise, you can
<a href="{{ url_for('upload_data') }}">upload your data or restore a previous session</a>.


<ul>
<li>(1) About</li>
<li>(2) Tutorial (video)</li>
<li>(3) web-based GUI: add a button to go back to HOME</li>
<li>(4) Manual</li>
<li>(5) Download:
         can have different versions
         download python code/local GUI
         download sample data
 </li>
<li>(6) Citation (optional)</li>
<li>(7) contact (optional)</li>
<li>(8) Sample Data (optional)</li>
  We can make (8) part of (5)</li>
</ul>

</div>

    </div>
</body>

</html>
