<!DOCTYPE html>
<html lang="en">


<html>

<head>
    <meta charset="UTF-8">
    <title>NLPStatTest</title>

    <div class="header">
            <h1>NlpStatTest</h1>
    </div>
</head>


<body>

</div>

This website is a demonstration of our <a href="url">paper</a>. Please consult

the <a href="url">manual</a> for insturctions and tips.

You can find the source code on our <a href="url">GitHub repository</a>. If you

have not yet collect data, start with
<a href="{{ url_for('prospective_power') }}">prospective power analysis</a>, otherwise, you can
<a href="{{ url_for('upload_data') }}">upload your data or restore a previous session</a>.


<ul>
<li>(1) About</li>
<li>(2) Tutorial (video)</li>
<li>(3) web-based GUI: add a button to go back to HOME</li>
<li>(4) Manual</li>
<li>(5) Download:
         can have different versions
         download python code/local GUI
         download sample data
 </li>
<li>(6) Citation (optional)</li>
<li>(7) contact (optional)</li>
<li>(8) Sample Data (optional)</li>
  We can make (8) part of (5)</li>
</ul>

</div>
</body>

</html>
